# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes

# Files from Forge MDK
forge*changelog.txt
/gradle/
/externalmods/
/src/main/resources/assets/ars_arsenal/lang/
